<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.processing.mapper.DoveProcessingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dove.processing.entity.DoveProcessing">
        <id column="processing_id" property="processingId" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="name" property="name" />
        <result column="principal_name" property="principalName" />
        <result column="introduction" property="introduction" />
        <result column="provice" property="provice" />
        <result column="city" property="city" />
        <result column="detailed_address" property="detailedAddress" />
        <result column="picture" property="picture" />
        <result column="video" property="video" />
        <result column="guige" property="guige" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="isDeleted" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
