<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.processing.mapper.DoveProcessingMapper">

<sql id="selectAllDoveProcessing">
    select processing_id,enterprise_id,name,principal_name,introduction,province,city,
    detailed_address,picture,video
    from t_dove_processing
    where is_deleted=0
</sql>

    <select id="getDoveProcessiInfo" resultType="com.dove.processing.entity.Vo.DoveProcessingVo">
        <include refid="selectAllDoveProcessing"/>
        order by gmt_create desc
        limit ${no},${size}
    </select>

    <select id="getFactorysByEnterpriseId" resultType="com.dove.processing.entity.Vo.DoveProcessingVo">
        <include refid="selectAllDoveProcessing"/>
        and enterprise_id = '${enterpriseId}'
        order by gmt_create desc
        <if test="no !=null and size != null">
        limit ${no},${size}
        </if>
    </select>

    <select id="getFactoryByLikeSearch" resultType="com.dove.processing.entity.Vo.DoveProcessingVo">
        <include refid="selectAllDoveProcessing"/>
        <if test="value != null and value!='' and value!='null'">
            and concat(name,detailed_address) like '%${value}%'
        </if>
        order by gmt_create desc
        limit ${no},${size}
    </select>

    <select id="getProductInfoByProcessId" resultType="com.dove.processing.entity.Vo.ProcessingTypeVo">
        select t.type_id,t.processing_id,t.process_id,t.processing_type,t.specifications
        from t_processing_type t
        <if test="factoryId != null and factoryId != 0">
        inner join t_dove_processing p
        on t.processing_id = p.processing_id
        where p.processing_id = ${factoryId} and p.is_deleted = 0
        </if>
        order by gmt_create desc
        limit ${no},${size}
    </select>

</mapper>
