<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.processing.mapper.ProcessingFlowMapper">

    <sql id="selectAllFlow">
        select process_id,processing_id,process_name,process_describe
        from t_processing_flow
    </sql>

    <select id="getFlowInfoByPage" resultType="com.dove.processing.entity.Vo.ProcessingFlowVo">
        <include refid="selectAllFlow"/>
        where is_deleted =0
        <if test="no !=null and size != null">
            order by gmt_create desc
            limit ${no},${size}
        </if>
    </select>
</mapper>
