<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.breed.mapper.CageRealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dove.breed.entity.CageReal">
        <result column="cage_id" property="cageId" />
        <result column="state" property="state"/>
        <result column="abnormal" property="abnormal"/>
        <result column="xf" property="xf"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="cageRealVo">
        r.cage_Id,r.state,r.abnormal,r.xf,r.update_time,p.bc_no,p.row_no,p.line,p.column_no
    </sql>

    <select id="getAllCage" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT
        <include refid="cageRealVo"></include>
        FROM t_cage_real r LEFT JOIN t_cage_position p
        ON r.cage_id = p.cage_id
        WHERE p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
    </select>
    <select id="getLayEggsTime" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT
        <include refid="cageRealVo"></include>
        FROM t_cage_real r LEFT JOIN t_cage_position p
        ON r.cage_id = p.cage_id
        WHERE p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND r.state = 0
    </select>
    <select id="getHatchTime" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT
        <include refid="cageRealVo"></include>
        FROM t_cage_real r LEFT JOIN t_cage_position p
        ON r.cage_id = p.cage_id
        WHERE p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND r.state != 0 AND r.state != 5
    </select>
    <select id="getFeedTime" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT
        <include refid="cageRealVo"></include>
        FROM t_cage_real r LEFT JOIN t_cage_position p
        ON r.cage_id = p.cage_id
        WHERE p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND r.state = 5
    </select>

    <select id="addAbnormalData" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT * FROM t_cage
        WHERE cage_id = #{cageId}
        AND create_time >= DATE_SUB(NOW(),INTERVAL 30 DAY )
        AND LEFT(abnormal,1) IN ('1','2','3','4','5')
    </select>
    <select id="getCageOfDiffState" resultType="com.dove.breed.entity.vo.CageRealVo">
        SELECT
        <include refid="cageRealVo"></include>
        FROM t_cage_real r LEFT JOIN t_cage_position p
        ON r.cage_id = p.cage_id
        WHERE p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND r.state = #{state}
        AND is_deleted = 0
    </select>
</mapper>
