<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.breed.mapper.DovecoteEntryBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dove.breed.entity.DovecoteEntryBill">
        <id column="id" property="id" />
        <result column="dovecote_number" property="dovecoteNumber" />
        <result column="base_id" property="baseId" />
        <result column="type" property="type"/>
        <result column="handler" property="handler" />
        <result column="amount" property="amount"/>
        <result column="total" property="total" />
        <result column="remark" property="remark" />
        <result column="guige" property="guige" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dovecote_number,type,amount, base_id,handler, total, remark, guige, gmt_create, gmt_modified, is_deleted, version
    </sql>
    <sql id="DovecoteEntryBillVo">
        id, dovecote_number,type,amount, base_id,handler, total, remark, guige, gmt_create, gmt_modified
    </sql>
    <select id="findBillByGmt_createAndDovecoteId" resultType="com.dove.breed.entity.vo.DovecoteEntryBillVo">
        SELECT
        <include refid="DovecoteEntryBillVo"/>
        FROM t_shipment_entry_bill
        WHERE base_id = #{baseId} And gmt_create between #{startTime} and #{endTime}
    </select>

    <select id="getAllIdByBaseIdAndDovecoteNumber" resultType="java.lang.Integer">
        SELECT id
        FROM t_dovecote_entry_bill
        WHERE base_id = #{baseId}
        AND dovecote_number = #{dovecoteNumber}
        AND year(gmt_create) = year(#{lastMonth})
        AND month(gmt_create) = month(#{lastMonth})
    </select>
    <select id="findBillByDovecoteAndType" resultType="com.dove.breed.entity.vo.DovecoteEntryBillVo">
        SELECT *
        FROM t_dovecote_entry_bill
        WHERE base_id = #{baseId}
          AND dovecote_number = #{dovecoteNumber}
          AND type = #{type}
        AND is_deleted = 0
    </select>
    <select id="getLatestBillId" resultType="java.lang.Long">
        SELECT MAX(id) FROM t_dovecote_entry_bill;
    </select>
    <select id="getBillByBaseIdAndDateAndType" resultType="com.dove.breed.entity.DovecoteEntryBill">
        SELECT *
        FROM t_dovecote_entry_bill
        WHERE base_id = #{baseId}
            AND type = #{type}
            AND is_deleted = 0
            AND year(gmt_create) = #{year}
          AND month(gmt_create) = #{month}
          AND day(gmt_create) = #{day}
    </select>

</mapper>
