<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.breed.mapper.DovecoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dove.breed.entity.Dovecote">
        <id column="dovecote_id" property="dovecoteId" />
        <result column="dovecote_number" property="dovecoteNumber" />
        <result column="base_id" property="baseId" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="director" property="director" />
        <result column="contact_number" property="contactNumber" />
        <result column="living_conditions" property="livingConditions" />
        <result column="picture" property="picture" />
        <result column="video" property="video"/>
        <result column="into_production" property="intoProduction" />
        <result column="cage_amount" property="cageAmount" />
        <result column="cage_empty" property="cageEmpty" />
        <result column="guige" property="guige" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <resultMap id="AbnormalMap" type="com.dove.breed.entity.vo.AbnormalVo">
        <id column="amount" property="amount"/>
        <id column="state" property="state"/>
        <id column="abnormal" property="abnormal"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dovecote_id, dovecote_number, base_id, enterprise_id, director, contact_number, living_conditions, picture, video, into_production, cage_amount, cage_empty, guige, gmt_create, gmt_modified, is_deleted, version
    </sql>

    <!-- 调用当天需要完成的任务 -->
    <sql id="IntraDay_Need_Work">
        SELECT
        COUNT(*)
        FROM t_cage_real c LEFT JOIN t_cage_position p
        ON c.cage_id = p.cage_id
        WHERE base_id = #{baseId}
          AND shack = #{dovecoteNumber}
    </sql>


    <insert id="insert">
        insert into t_dovecote (dovecote_id, dovecote_number, base_id, enterprise_id, director, contact_number, living_conditions, picture, video, into_production, cage_amount, cage_empty, guige)values
    </insert>


    <select id="getNeedPictureEggs" resultType="java.lang.Integer">
        <include refid="IntraDay_Need_Work"></include>
          AND c.xf = 1
    </select>

    <select id="getNeedCheckDoves" resultType="java.lang.Integer">
        <include refid="IntraDay_Need_Work"></include>
          AND c.xf = 3
    </select>

    <select id="getNeedTakeEggs" resultType="java.lang.Integer">
        <include refid="IntraDay_Need_Work"></include>
          AND c.xf = 2
    </select>

    <select id="getMatEggsOfYesterday" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM t_cage c LEFT JOIN t_cage_position p
        ON c.cage_id = p.cage_id
        WHERE TO_DAYS(NOW()) - TO_DAYS(c.create_time) = 1
        AND p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND c.state in (1,2)
        AND c.xf = 0
    </select>

    <select id="getAbnormalVoOfYesterday" resultType="com.dove.breed.entity.vo.AbnormalVo" resultMap="AbnormalMap">
        SELECT
        COUNT(*) amount, state, abnormal
        FROM t_cage c LEFT JOIN t_cage_position p
        ON c.cage_id = p.cage_id
        WHERE TO_DAYS(NOW()) - TO_DAYS(c.create_time) = 1
        AND p.base_id = #{baseId}
        AND p.shack = #{dovecoteNumber}
        AND c.`abnormal` IS NOT NULL
        GROUP BY state , abnormal
    </select>
    <select id="getAllDovecoteNumber" resultType="java.lang.String">
        SELECT
        *
        FROM t_dovecote
        WHERE base_id = #{baseId}
        <if test="dovecoteNumber != null">
        AND dovecote_number LIKE "%${dovecoteNumber}%"
        </if>
    </select>


</mapper>
