<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.breed.mapper.DrinkingMachineMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, base_id, dovecote_number, machine_number, device_name, brand, `peak_head`, `peak_suction`, `peak_flow`, rev, start_time, stop_time, is_open AS `open`, guige, gmt_create, gmt_modified, is_deleted AS deleted, version
    </sql>
    <sql id="Vo_Column_List">
        id, base_id, dovecote_number, machine_number, device_name, brand, `peak_head`, `peak_suction`, `peak_flow`, rev, start_time, stop_time, is_open AS `open`
    </sql>

    <select id="listByType" resultType="com.dove.breed.entity.vo.DrinkingMachineVo">
        select <include refid="Vo_Column_List"/>
        from t_drinking_machine
        where guige = #{enterpriseId}
        and is_deleted = 0
        <if test="open != null">
            and is_open = #{open}
        </if>
        <if test="baseId != null">
            and base_id = #{baseId}
        </if>
        <if test="dovecoteNumber != null">
            and dovecote_number = #{dovecoteNumber}
        </if>
        ORDER by gmt_modified DESC
    </select>

    <update id="deleteById">
        UPDATE
        t_drinking_machine
    SET
        is_deleted=now()
    WHERE
        id=#{_parameter}
        AND is_deleted=0
    </update>

    <update id="deleteBatchIds">
        UPDATE
        t_drinking_machine
        SET
        is_deleted=now()
        WHERE
        id IN
        <foreach collection="coll" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND is_deleted=0
    </update>
</mapper>
