<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dove.breed.mapper.ManualIncubationMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dove.breed.entity.ManualIncubation">
        <id column="id" property="id" />
        <result column="base_id" property="baseId"/>
        <result column="dovecote_number" property="dovecoteNumber"/>
        <result column="breeder_name" property="breederName"/>
        <result column="type" property="type"/>
        <result column="am_number" property="amNumber"/>
        <result column="pm_number" property="pmNumber"/>
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="is_deleted" property="deleted" />
        <result column="version" property="version" />
    </resultMap>

    <select id="getTodayData" resultType="com.dove.breed.entity.ManualIncubation">
        SELECT *
        FROM t_manual_incubation
        WHERE base_id = #{baseId}
        AND dovecote_number = #{dovecoteNumber}
        AND TO_DAYS(gmt_create) = TO_DAYS(NOW())
    </select>
</mapper>
